---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Uno">
  <main>
    <div>Uno</div>
  </main>
</Layout>

<style>
  body {
    background: #e56a54;
  }
  main {
    background: #e56a54;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  main div {
    font-size: 100px;
    font-weight: bold;
  }
</style>
