<div class="footer">
  Inspirado en <a
    href="https://twitter.com/lmatteis/status/1690279184990392320?t=A-kfKutwh_hRiHp2fsI12g&s=19"
    >@lmatteis</a
  > | Hecho con ❤️ para la <a href="https://webreactiva.com"
    >Comunidad Malandriner</a
  >
</div>

<style>
  .footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    padding: 20px;
    text-align: center;
    z-index: 100;
  }
</style>
